.detail-section{
    padding: 2rem;
    height: calc(100vh - 56px);
}

.country-detail{
    margin-top: 3rem;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 2rem;
    place-items: center;
}

.return-button{
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
    gap: .3rem;
    padding: .5rem;
    border: none;
    width: 80px;
}

.detail-wrapper{
    width: 100%;
    padding: 1rem;
}

.detail-wrapper h1{
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.country-info{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.country-info p{
    margin-bottom: 10px;
    font-size: 16px;
}

.country-info_footer strong{
    margin-right: 10px;
}

.buttons-wrapper{
    gap: .5rem;
}